body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif', serif;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}
button:focus {
    outline: none;
  }
@keyframes expand {
    from {width: 50%;height:50%;}
    to {width: 100%;height: 100%;}
}

.showCase {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: white;
    opacity: 0.95;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 10;
    border-radius: 10%;
    border: #1dbab4 5px solid;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.showCase a {
    text-decoration: none;
    color: #1dbab4;
    font-weight: bold;
}

.showCase button {
    width: 12rem;
    height: 4rem;
    font-size: large;
}

.chart {
    width:100%;
    height: 100%;
    background-color: aliceblue;
    opacity: 0.95;
    border-radius: 1%;
    padding: 2%;
    overflow: hidden;
    position: relative;
    visibility: hidden;
}
.myChartBox {
    width: 100%;
    height: 75%;
}
.btnBox {
    width: 70%;
    height: 12%;
    position: absolute;
    bottom: 8%;
    left: 10%;
    text-align: left;
    z-index: 10;
}
.btnBox2{
    width: 30%;
    height: 12%;
    position: absolute;
    bottom: 8%;
    right: 10%;
}

.btn {
    width: 6rem;
    height: 2rem;
    margin: 1%;
    border-radius: 10%;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.clicked {
    background-color: #1dbab4;
}

select {
    border: 3px solid #1dbab4;
    height: 2rem;
    width: 18rem;
    font-family: 'Noto Serif', serif;
}
.selectbtn {
     margin: 0%;
     border-radius: 0%;
}
.overlay{
    width: 60%;
    height: 40%;
    background-color: #1dbab4;
    border-radius: 5%;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    align-items: center;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5%;
    font-size: x-large;
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}

.overLayBtn{
    width: 1rem;
    height: 1rem;
    background-color: #1dbab4;
    border: none;
    font-size: large;
    margin-left: 3%;
    
}
.gridBox1{
    grid-column: 1/6;
    border-bottom: 1px white solid;
    font-size: xx-large;
}

.gridBox10{
    grid-column: 1/6;
    border-top: 1px white solid ;
    font-size: medium;
}
.gridBoxNum {
    background-color: white;
    border-radius: 5%;
    padding: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}

#loader {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.spinner {
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    25%  {border-top: #1dbab4 5px solid;}
    50% { border-right :#1dbab4 5px solid;}
    75% { border-bottom :#1dbab4 5px solid;}
    100% { border-left :#1dbab4 5px solid;}
}